<?xml version="1.0" encoding="utf-8"?>

<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
		<!-- 注册组件扫描器 -->
		<context:component-scan base-package="cn.dhx.service"></context:component-scan>
		<context:component-scan base-package="cn.dhx.jedis"></context:component-scan>
		<!-- websocket相关扫描，主要扫描：WebSocketConfig  如果前面配置能扫描到此类则可以不加 -->
<!-- 		<context:component-scan base-package="cn.dhx.webSocket"/> -->
		
		<!-- 注册Service -->	
		<bean id="UserServiceImpl" class="cn.dhx.service.UserServiceImpl">
			<property name="dao" ref="IUserDao"></property>
		</bean>

		<!--注册redis连接池  -->
		<bean id="JedisPool" class="redis.clients.jedis.JedisPool">
			<constructor-arg  name="host" value="${redis.host}"></constructor-arg>
			<constructor-arg  name="port" value="${redis.port}"></constructor-arg>
		</bean>
</beans>